/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-gray-200 p-6 rounded-lg shadow relative overflow-hidden transition-shadow transition-transform duration-300;
  }

  .card:hover {
    @apply shadow-lg transform scale-105;
  }

  .card::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
    width: 0%;
    background-color: #3b82f6;
    transition: width 0.5s ease-in-out;
  }

  .card:hover::after {
    width: 100%;
  }
}
